@import './reset.css';

* {
  box-sizing: border-box;
}

body {
  width: 375px;
  height: 667px;
  background-color: #FB6B6B;
  border: 1px solid #DBDBDB;
  font-family: 'Recursive';
  font-weight: 400;
  font-size: 18px;
}

.initial_screen{
  width: 257px;
  font-size: 36px;
  font-family: 'Righteous';
  font-style: normal;
  line-height: 45px;

  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  
  text-align: center;
  letter-spacing: -0.012em;
  margin-top: 148px;
  margin-left: 59px;
  color: #FFFFFF;
}

.initial_screen>img{
  width: 136px;
  height: 161px;
  display: flex;
}

.button{
  margin-top: 30px;
  width:246px;
  height:54px;
  background: #FFFFFF;
  border: 1px solid #D70900;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 5px;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  color: #D70900;

  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.hide_screen{
  display:none;
}

.quizz_top{
  margin-top: 48px;
  margin-left: 59px;
  height: 60px;
  font-family: 'Righteous';
  font-style: normal;
  font-size: 36px;
  line-height: 45px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: -0.012em;

  color: #FFFFFF;
}

.quizz_top>img{
  width: 52px;
  height: 60px;
  display: flex;
}

.quizz_content{
  width:300px;
  height:462px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-top: 25px;
  margin-left: 37px;
}

.quizz_footer{
  width: 373px;
  height: 70px;
  background: #FFFFFF;
  box-shadow: 0px -4px 6px rgba(0, 0, 0, 0.05);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  
  font-style: normal;
  line-height: 22px;
  color: #333333; 
}

.flashcard{
  margin-top:25px;
  width:100%;
  height: 65px;
  background: #FFFFFF;
  box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.15);
  border-radius: 5px;
  
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  color: #333333;

  display: flex;
  align-items: center;
  text-align: center;
  justify-content: space-between;
  padding: 0px 15px 0px 20px;
}

ion-icon .flashcard{
  font-size: 20px;
  font-weight: 700;
}